<div class="d-flex justify-content-center align-items-center align-middle container ">
    <div class="row ">
        <h2>Please login</h2>
        <form action="">
            <div class="form-group">
                <label for="email" class="control-label">Email</label>
                <input type="email" class="form-control" id="email" aria-labelledby="emailnotification">
            </div>
            <div class="form-group">
                <label for="password" class="control-label">Password</label>
                <input type="password" class="form-control" id="password" aria-labelledby="passwordnotification">
            </div>
            <button class="btn btn-primary">LOG IN</button>
        </form>
    </div>
</div>
